*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

a{
    text-decoration: none;
    color: gray;
}
header{
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.log{
    display: flex;
    align-items: center;
}
.log img{
    height: 35px;
    margin-left: 100px;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 13px;
}
.btn{
    text-transform: uppercase;
    color: rgb(10, 161, 221);
    outline: 2px solid white;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}
.btn:hover{
    color: rgb(232, 249, 253);
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(33, 85, 205, 0.699);  
    z-index: -1;
    transition: width 1s;
}
.btn:hover:before{
    width: 100%;
}
/*Contenedor 1*/
.cont1{
    height: auto;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.cont1 .imgs{
    width: 45%;
}

.cont1 .imgs img{
    width: 100%;
    vertical-align: top;
}
.inf{
    width: 50%;
}
.text{
    width: 100%;
}
.text h1{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    font-size: 50px;
    color: rgb(33, 85, 205);
}
.text p{
    margin-left: 150px;
    margin-right: 150px;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: grey;
    text-align:justify
}
.buttons{
    margin-left: 150px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.buttons a{
    padding-right: 30px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(33, 85, 205);
}
.buttons img{
    width: 5%;
    vertical-align: top;
    padding-right: 20px;
}
.boton{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: rgb(33, 85, 205);
    position: relative;
}
.boton::after{
    content: '';
    width: 80%;
    height: 1px;
    background-color: rgb(29, 76, 185);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.boton:hover::after{
    transform:scaleX(1);
}
.buttons1{
    margin-left: 150px;
    margin-top: 170px;
    display: flex;
    align-items: center;
}
.buttons1 img{
    width: 8%;
    padding-right: 20px;
}
.buttons1 a{
    padding-right: 30px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(29, 76, 185);
}
.boton1{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: rgb(29, 76, 185);
    position: relative;
}
.boton1::after{
    content: '';
    width: 80%;
    height: 1px;
    background-color: rgb(29, 76, 185);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.boton1:hover::after{
    transform:scaleX(1);
}
/*Contenedor 2*/
.cont2{
    background-color: rgb(158, 221, 231);
    display: flex;
    height: 100px;
    width: 70%;
    position: absolute;
    margin-left: 150px;
    top: 800px;
    overflow: hidden; 
}
.cont-cuadro{
    background-color: rgb(158, 221, 231);
    margin: 5px;
    width: 25%;
}
.title{
    display: flex;
    margin: 3px;
    height: 30px;
    align-items: center;
}
.icon{
    width: 10%;
    padding-right: 20px;
}
.title1{
    color:rgb(248, 248, 248);
    font-size: 15px;
    font-weight: 700;
}
.text h3{
    color: rgb(29, 76, 185);
    align-items: center;
    font-size: 18px;
    margin-left: 43px;
}
.s-text{
    height: 160px;
    width: 30%;
    margin-left: 150px;
    margin-top: 150px;
}
.s-text .title2{
    font-size: 35px;
    color: rgb(29, 76, 185);
}
.s-text .text{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
    color: grey;
    text-align:justify
}
/*Contenedor 3*/
.cont3{
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    height: 300px;
}
.target{
    background-color:rgb(158, 221, 231);
    margin: 5px;
    width: 24%;
    border-radius: 10px;
}
.img3{
    margin-left: 10px;
    margin-top: 10px;
}
.cont3 .title3{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 70px;
    color: rgb(29, 76, 185);
}
.cont3 .text3{
    font-family: sans-serif;
    font-size: 16px;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 25px;
}
/*Contenedor 4 */
.cont4{
    margin-top: 100px;
    display: flex;
    height: 700px;
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.cont4 .cont-img{
    width: 40%;
}
.cont-img img{
    width: 100%;
    vertical-align: top;
}
.cont-text4{
    width: 55%;
    margin: 20px;
}
.inf4{
    width: 100%;
    margin: auto;
    text-align: justify;
}
.inf4 h2{
    font-family: sans-serif;
    font-size: 32px;
    color: rgb(29, 76, 185);
    letter-spacing: 2px;
}
.inf4 .text4{
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 25px;
    margin-right: 160px;
    letter-spacing: 1px;
    line-height: 20px;
}
.main a{
    background-color: rgb(248, 248, 248);
    padding:20px;
    font-family: sans-serif;
    color:rgb(29, 76, 185);
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
}
.main p{
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: gray;
    margin-top: 2px;
    display: none;
}
.main p:target{
    display: block;
}
/*Contenedor 5*/
.cont5{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 100px;
    overflow: hidden;
    box-sizing: border-box;
}
.text5{
    width: 50%;
    margin: 20px;
}
.inf5{
    width: 100%;
    margin: auto;
    text-align: justify;
}
.img-cont5{
    width: 50%;
}
.img-cont5 img{
    width: 100%;
    vertical-align: top;
}
.inf5 h2{
    color: rgb(29, 76, 185);
    font-family: sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
}
.inf5 .text6{
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 35px;
    margin-right: 160px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
}
.cont5-buttons{
    height: 130px;
    width: auto;
    display: flex;
    margin-top: 50px;
}
.cont5-buttons .button5{
    background-color: rgb(248, 248, 248);
    margin: 6px;
    height: 120px;
    width: 40%;
    border-radius: 10px;
}
.cont5-buttons .button5 .text-img5{
    display: flex;
    height: 70px;
}
.img5{
    width: 15%;
    margin:4px;
    margin-left: 10px;
    margin-right: 30px;
}
.img5 img{
    width: 100%;
    margin-top: 13px;
}
.text7{
    margin: 4px;
    line-height: 4px;
}
.text7 .title1{
    color: rgb(29, 76, 185);
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.text7 p{
    font-size: 12px;
    font-family: sans-serif;
    color: gray;
}
.button5 button{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
    margin-right: 10px;
    font-size: 16px;
    color: #013274;
    font-family: sans-serif;
}